@font-face {
    font-family: "KaushanScript-Regular"; 
    src: local("KaushanScript Regular"), 
         url("/fonts/KaushanScript-Regular.ttf");    
  }
@font-face {
    font-family: "Montserrat-Bold"; 
    src: local("Montserrat Bold"), 
         url("/fonts/Montserrat-Bold.ttf");    
  }
@font-face {
    font-family: "Montserrat-Regular"; 
    src: local("Montserrat Regular"), 
         url("/fonts/Montserrat-Regular.ttf");    
  }

@font-face {
    font-family: "Roboto-LightItalic"; 
    src: local("Roboto LightItalic"), 
         url("/fonts/Roboto-LightItalic.ttf");    
  }
@font-face {
    font-family: "Roboto-Regular"; 
    src: local("Roboto-Regular"), 
         url("/fonts/Roboto-Regular.ttf");    
  }

