.map {
    height: 200px;
    text-align: center;
    background-image: url('/image/bg/BG_open_map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__link {
        display: inline-block;
        width: 132px;
        height: 86px;
        background-image: url('/image/icon/Button_open_map.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 57px;
    }
}
